.navbarMain {
    width: 100vw;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--universalPadding);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    z-index: 9999;
    overflow: hidden;
}

.icon {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 7px;
    font-size: 20px;
    font-family: var(--aldrichFont);
    font-style: normal;
}

.icon span {
    color: var(--mainThemeColour);
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
}

.options div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondaryThemeColour);
    border-radius: 10px;
    cursor: pointer;
}

.options div:last-child {
    width: auto;
    padding: 0 20px;
    font-size: 18px;
    background: var(--mainThemeColour);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.searchBar {
    position: fixed;
    top: 100px;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    transition: .3s ease-in-out;
    z-index: 9999;
    overflow: hidden;
}

.searchBar input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--mainThemeColour);
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 1px;
    background: var(--secondaryThemeColour);
}

.searchBar input:last-child {
    width: 25%;
    cursor: pointer;
    background: var(--mainThemeColour);
}

.searchBar.show {
    right: 20px;
}

.searchBar.hide {
    right: -50%;
}