* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}

:root {
    --universalPadding: 200px;
    --mainThemeColour: #F19C4E;
    --secondaryThemeColour: #DAD9CA;
    --aldrichFont: 'Aldrich', sans-serif;
}