* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --universalPadding: 200px;
    --mainThemeColour: #A5DEF1;
    --aldrichFont: 'Aldrich', sans-serif;
}